* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}

#root {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px auto;
}

.calendar-wrapper {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border: 2px solid #b5d2bd;
  border-radius: 3px;
  padding: 10px 30px 30px ;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.month-main {
  display: flex;
  justify-content: center;
}

.day {
  display: flex;
  justify-content: center;
  flex: 1 0 10%;
  padding: 5px;
  margin-bottom: 5px;
  color: #5d5d5d;
}

.day:hover {
  color: #fff;
  background: #60d076;
  cursor: pointer;
}

.work-day {
  background: #70b97f;
  color: #fff;
}

.days-name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
  color: #000;
}

.days-name div {
  display: flex;
  justify-content: center;
}

.week-end {
  color: #000;
}

.legend-wrapper {
  display: flex;
  align-items: flex-start;
}

.work-day-label {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}