* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  font-family: inherit;
}

button:focus {
  outline: none;
}

#root {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px auto;
}

.calendar-wrapper {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border: 2px solid #b5d2bd;
  border-radius: 3px;
  padding: 10px 30px 30px;
}



.month-main {
  display: flex;
  justify-content: center;
}

.days-name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
  color: #000;
}

.days-name div {
  display: flex;
  justify-content: center;
}

.payroll {
  line-height: 2em;
  color: #333333;
  width: 100%;
}

.month-payroll {
  font-size: 1.5em;
}

.payroll-sub-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}